<section id="background">
  <div class="background">
    <div class="containergeral" >
      <div class="card1" *ngFor="let discount of discounts.slice(0, 4)">
        <app-hotel-card
        hotelName="{{discount.titulo}}"
        location="{{discount.text}}"
        price="{{discount.price}}"
        imageUrl="{{discount.imageUrl}}"
        >
        </app-hotel-card>
      </div>
      <div>
        <a id="retangulo_51" href="extendido">Ver Mais</a>
      </div>
    </div>
  </div>
</section>
